$line:2;//行数 这里是设置默认值、也可以调用的时候输入，常用于商品标题设置
@mixin show_line($line:2) {
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  overflow: hidden;
  display: -webkit-box;
}
